<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header :: headerBlock">
		<style type="text/css"></style>
	</head>
	<body>
		<div th:replace="header :: navBar"></div>
	
	<br/><br/>
		<section class="form5" id="form5-c">
		    <div class="container">
		        <div class="mbr-section-head">
		            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
		                <strong>Cadastro Aula Prática</strong></h3>
		            
		        </div>
		        <div class="row justify-content-center mt-4">
		            <div class="col-lg-8 mx-auto mbr-form">
		                <form action="/salvarAulaPratica" method="post" th:object="${aulaPratica}">
		                    <div class="dragArea row">
		                    	<div class="col-md-6 col-sm-12 form-group" data-for="data">
		                            Data: <input type="date" placeholder="data" data-form-field="data" name="data" class="form-control"  required th:field="*{data}">
		                        </div>
		                        <div class="col-md-6 col-sm-12 form-group" data-for="hora">
		                            Horário: <input name="hora" type="time" placeholder="horário" data-form-field="hora" class="form-control"  required th:field="*{hora}">
		                        </div>
		                    	<div class="col-md-12 col-sm-12 form-group">
									<label for="professor">Professor</label> 
									<select id="professor" class="form-control"  th:field="*{professor}">
										<option value="0">Selecione um professor:</option>
										<option th:each="prof : ${listaProf}" th:text="${prof.nome}" th:value="${prof.id}" />
									</select>
								</div>
		                        <div class="col-md-12 col-sm-12 form-group">
									<label for="aluno">Aluno</label> 
									<select id="aluno" class="form-control"  th:field="*{aluno}">
										<option value="0">Selecione um aluno</option>
										<option th:each="aluno : ${listaAluno}" th:text="${aluno.nome}" th:value="${aluno.id}" />
									</select>
								</div>
				                        
		                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
		                        	<button type="submit" class="btn btn-primary display-4">Enviar</button>
		                        </div>
		                    </div>
		                    <div th:text="${mensagem}" class="alert-warning" th:if="${mensagem != null}"></div>
							<div th:if="${#fields.hasErrors('*')}">
								<ul>
									<li th:each="erro : ${#fields.errors('*')}" th:text="${erro}" class="alert-danger">
								</ul>
							</div>
		                </form>
		            </div>
		        </div>
		    </div>
		</section>
		<div th:replace="header :: footer"></div>

  
	</body>
</html>