<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header :: headerBlock">
		<style type="text/css"></style>
	</head>
	<body>
		<div th:replace="header :: navBar"></div>
	
		<section class="form5" id="form5-c">
		    <div class="container">
		        <div class="mbr-section-head">
		            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
		                <strong>Cadastrar Professor</strong></h3>
		            
		        </div>
		        <div class="row justify-content-center mt-4">
		            <div class="col-lg-8 mx-auto mbr-form">
		                <form action="/precadastroAluno" method="post" th:object="${professor}">
		                    <div class="dragArea row">
		                    	<input name="id" type="hidden" th:field="*{id}">
		                        <div class="col-md-6 col-sm-12 form-group" data-for="name">
		                            <input type="text" placeholder="Nome completo" data-form-field="name" name="nome" class="form-control" value="" id="name-form5-c" required th:field="*{nome}">
		                        </div>
		                        <div class="col-md-6 col-sm-12 form-group" data-for="email">
		                            <input name="email" type="email" placeholder="E-mail" data-form-field="email" class="form-control" value="" id="email-form5-c" required th:field="*{email}">
		                        </div>
		                        <div class="col-md-6 col-sm-12 form-group" data-for="telefone">
		                            <input name="telefone" type="text" placeholder="Telefone" maxlength="10" data-form-field="telefone" class="form-control" value="" id="name-form5-c" required th:field="*{telefone}">
		                        </div>
		                        <div class="col-md-6 col-sm-12 form-group" data-for="cpf">
		                            <input type="text" name="cpf" placeholder="CPF" maxlength="11" data-form-field="cpf" class="form-control" value="" id="email-form5-c" required th:field="*{cpf}">
		                        </div>
		                        <div class="col-12 form-group" data-for="textarea">
		                            <input type="text" name="senha" placeholder="Senha" data-form-field="text" class="form-control" id="url-form5-c" required th:field="*{senha}">
		                        </div>
		                        <div class="col-12 form-group" data-for="textarea">
		                            <textarea placeholder="Confirmar senha" name="confirmarSenha" data-form-field="textarea" class="form-control" id="textarea-form5-c" required></textarea>
		                        </div>
		                        
		                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
		                        	<button type="submit" class="btn btn-primary display-4">Enviar</button>
		                        </div>
		                    </div>
		                    
		                </form>
		            </div>
		        </div>
		    </div>
		</section>
		<div th:replace="header :: footer"></div>

  
	</body>
</html>