<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head th:replace="header :: headerBlock">
		<style type="text/css"></style>
</head>
<body>
  
   <div th:replace="header :: navBar"></div>

<section class="slider2 cid-sBRlhycPci" id="slider2-2q">
    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="carousel slide" id="sCwDL2CBb4" data-interval="5000">
                    
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" class="active" data-target="#sCwDL2CBb4"></li>
                        <li data-slide-to="1" data-target="#sCwDL2CBb4"></li>
                        
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item slider-image item active">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="assets/images/calendario-984x756.png">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style display-5"></h5>
                                    <p class="mbr-section-text mbr-fonts-style display-7"></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <img class="d-block w-100" src="assets/images/professor-1059x756.png">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style display-5"></h5>
                                    <p class="mbr-section-text mbr-fonts-style display-7"></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#sCwDL2CBb4">
                        <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#sCwDL2CBb4">
                        <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features13 cid-sBRrwFBSR2" id="features14-2w">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title align-center mb-4 mbr-fonts-style display-2"></h3>
            </div>
            <div class="card col-12 col-md-4 col-lg-2 p-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <a href="page19.html"><span class="mbr-iconfont mobi-mbri-home mobi-mbri"></span></a>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>Pagina inicial</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <a href="page20.html"><span class="mbr-iconfont mobi-mbri-arrow-down mobi-mbri"></span></a>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Autorizar Pré-Matricula</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <a href="page22.html"><span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span></a>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>Criar&nbsp;Usuário</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <a href="page21.html"><span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri" style="color: rgb(101, 146, 230); fill: rgb(101, 146, 230);"></span></a>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Registrar Aula</strong></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-cust-feedback mobi-mbri" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"></h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-4 col-lg-2">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-devices mobi-mbri" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="header :: footer"></div>
</body>
</html>