<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: headerBlock">
		<style type="text/css"></style>
</head>

<body>

     <div th:replace="header :: navBar"></div>



    <!------------------------------------------------------------------>

    <section class="slider1 cid-sBRfn1ewdY" id="slider1-2c">

        <link rel="stylesheet" href="./styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

        <main class="container">
            <header class="col-sm-12">
                <img src="./images/banner.png" alt="Page Banner" width="800px" height="130px">
                <span>Bootstrap Calender</span>
            </header>
            <section class="col-sm-12">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

            </section>
            <footer>

            </footer>
        </main>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>



    </section>

    <!------------------------------------------------------------------>









    <section class="features13 cid-sBRbuU81lr" id="features14-28">



        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="mbr-section-title align-center mb-4 mbr-fonts-style display-2"></h3>
                </div>
                <div class="card col-12 col-md-4 col-lg-2 p-3">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <a href="page15.html"><span class="mbr-iconfont mobi-mbri-home mobi-mbri"></span></a>
                            <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                                <strong>Pagina inicial</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-2">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <a href="page17.html"><span class="mbr-iconfont mobi-mbri-video-play mobi-mbri"></span></a>
                            <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Adicionar
                                    aulas&nbsp;</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-2">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <a href="page18.html"><span class="mbr-iconfont mobi-mbri-edit mobi-mbri"></span></a>
                            <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                                <strong>Aulas Agendadas</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-2">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <a href="page14.html"><span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri"
                                    style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span></a>
                            <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"></h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-2">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <span class="mbr-iconfont mobi-mbri-cust-feedback mobi-mbri"
                                style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                            <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"></h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3 col-12 col-md-4 col-lg-2">
                    <div class="card-wrapper">
                        <div class="card-box align-center">
                            <span class="mbr-iconfont mobi-mbri-devices mobi-mbri"
                                style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                            <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <div th:replace="header :: footer"></div>
   
    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/theme/js/script.js"></script>


</body>

</html>