<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >

<head th:replace="header :: headerBlock">
		<style type="text/css"></style>
</head>
<body>
  
   <div th:replace="header :: navBar"></div>

<section class="form3 cid-sBLSyp81fR" id="form3-r">

    

    

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-12">
                <div class="image-wrapper">
                    <img class="w-100" src="assets/images/mbr-1414x943.jpg" alt="Mobirise">
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="L3Zp3NDP+JYtDQOxe40LtzSAHsHDp+1EGks7iA+hzFC9rUTdCFDQ7k/HXeZ71Vm51pPL4OY4Gtqy2ImZBOk9JQsV1gAUtPu8tpL5FOWqJ0dqOISj0zGoD7mcpGBhTLKq">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title mb-4 display-2"><strong>Recupere sua senha</strong></h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-4 display-7">informe seu e-mail de contato</p>
                        </div>
                        
                        <div class="col-lg-12 col-md col-sm-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-form3-r">
                        </div>
                        <div class="col-md-auto col-12 mbr-section-btn"><button type="submit" class="btn btn-black display-4">Enviar</button></div>
                    </div>
                </form>
            </div>
            <div class="offset-lg-1"></div>
        </div>
    </div>
</section>

<section class="content11 cid-sBLSyqSSiB" id="content11-s">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="page4.html">ALUNO</a> <a class="btn btn-primary display-4" href="page15.html">PROFESSOR</a> <a class="btn btn-primary display-4" href="page19.html">ADMINISTRADOR</a> <a class="btn btn-black display-4" href="page7.html">Recuperar Senha</a></div>
            </div>
        </div>
    </div>
</section>

<div th:replace="header :: footer"></div>
  
</body>
</html>