<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: headerBlock">
		<style type="text/css"></style>
</head>
<body>
  
    <div th:replace="header :: navBar2"></div>
<section class="map1 cid-sBLHcwWFFu" id="map1-d">
    
    
    <div class="container">
        <div class="mbr-section-head mb-4">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Onde estamos</strong></h3>
            
        </div>
        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNveGQ9bfpKFwWzQLLftrR9hNiHwdqQG8&amp;q=350 5th Ave, New York, NY 10118" allowfullscreen=""></iframe></div>
    </div>
</section>

<section class="form5 cid-sBLHHNbMlb" id="form5-g">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Fale conosco</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="vtzVOhjsFE5VbHTtWTsOrJP27fmjcIhCFMSp7FErIENVsi+lC5HRk6aJMQZG7ovauLcma7MtTAycY4JOYGHyoQRa+1qAKul96h4/+RvmtD2BaCmPuuqrky/AV3AVvhGa">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                            the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group" data-for="name">
                            <input type="text" name="name" placeholder="Nome" data-form-field="name" class="form-control" value="" id="name-form5-g">
                        </div>
                        <div class="col-md col-sm-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="E-mail" data-form-field="email" class="form-control" value="" id="email-form5-g">
                        </div>
                        
                        <div class="col-12 form-group" data-for="textarea">
                            <textarea name="textarea" placeholder="Mensagem" data-form-field="textarea" class="form-control" id="textarea-form5-g"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-primary display-4">Enviar</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="contacts1 cid-sBLHnWWtPn" id="contacts1-e">

    

    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Fale Conosco</strong></h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5"></h4>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="image-wrapper">
                            <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                        </div>
                        <h4 class="card-title mbr-fonts-style mb-2 display-2">
                            <strong>Email</strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-2 display-4">drivefree@email.com</p>
                        <h5 class="link mbr-fonts-style display-7"><a href="mailto:info@site.com" class="text-primary">Send us an
                                email</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="image-wrapper">
                            <span class="mbr-iconfont mobi-mbri-mobile-2 mobi-mbri"></span>
                        </div>
                        <h4 class="card-title mbr-fonts-style align-center mb-2 display-2">
                            <strong>Telefone</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-2 display-4">
                            Seg - sex 09:00 - 18:00</p>
                        <h5 class="link mbr-black mbr-fonts-style display-7"><a href="tel:+12345678910" class="text-primary">(81) 9 1234 4567</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="header :: footer"></div>
</body>
</html>